body{
    font-family: Arial, sans-serif;
    background-color: #708090;
}

/*Beginning of navigation bar style*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
}

li{
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: aliceblue;
}
/*End of navigation bar style*/

.videosTitle{
    font-size: 40px;
    text-align: center;
}


.video, iframe{
    /*padding: 50px 25px 50px 455px;*/
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 750px){
    /*.video{
        padding-left: 50px;
    }*/
}